<form action="/adminpage" method="POST">
    <label for="title">Verification_id</label>
    <input class="form-control" type="text" name='verification_id' id='verification_id' placeholder="verification_id" aria-label="enterverification_id">
    <br>
    <label for="content">Password</label>
    <input class="form-control" name="Password" id="Password" placeholder="Enter_password" aria-label="enterpassword"></input>
    <br>  
    <input type='submit' value="post" class="btn btn-primary">
</form>