{% extends 'base.html' %}
{% block head %}
    <title>Home--page</title>
{% endblock %}



{% block body %}
    <br>
    <br>

    <h3 style="padding: 0.8cm;">Welcome to my webpage</h3>
    <br>
    <p style="margin: 1cm;">Hi, I'm Velu, a Second-year Chemical Engineer undergraduate student at Anna University. I love to write code and interest in Computer Programming and IT-related Tools. I have completed some courses on Coursera where I took great knowledge in Python Programming</p>
    <a style="margin: 1cm;" type="btn" class="btn btn-primary" href="/general">About</a>


{% endblock %}


